@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Corben&family=Inter&family=Montserrat&family=Orbitron&family=Poppins:wght@300;400&family=Roboto&display=swap');

#container{
    display:flex;
    justify-content: center;
}
.left-1{
    font-family: Montserrat;
    color:rgba(87,90,133,1);
    font-size:36px;
    font-weight: 700;
    line-height: 44px;
    margin-left:20px;
    margin-top:20px;
}
.left-2{
    font-family: Montserrat;
    color:rgba(184, 188, 204, 1);
    font-size:18px;
    font-weight:400;
    margin-top:10px;
    margin-left:20px;
}
.c-1{
    width:500px;
    height:600px;
    background-color: black;   
}
.c-1>img{
    width:300px;
    margin-top:100px;
    margin-left:100px;
}
.c-2{
    width:500px;
    height:600px;
    /* border:2px solid gray; */
    background-color: rgba(87,90,133,1);
}
.c-2>p{
    font-family: Montserrat;
    margin-top:300px;
    margin-left:50px;
    font-weight: 400;
    font-size: 30px;
    color:rgba(184, 188, 204, 1);
}
.btn1{
    width:200px;
    color:rgba(184, 188, 204, 1);
    border:2px solid rgba(184, 188, 204, 1);
    background-color: rgba(87,90,133,1);
    margin-left:140px;
    padding:10px;
    border-radius:10px;
}
.btn1:hover{
    cursor:pointer;
}
#container-2{
    /* border:2px solid rgb(198, 192, 192); */
    border-radius:10px;
    margin-top:20px;
    margin-left:5%;
    padding:50px;
    color:rgba(87,90,133,1);
    background-color: black;
    gap:100px;   
}
#container-2>iframe{
    width:1000px;
    margin-left:120px;
    margin-top:50px;
}
#getInfo{
    font-size: 30px;
    color:rgb(164, 164, 166);
}
.curr-location{
    font-size:36px;
    color:rgba(184, 188, 204, 1);
    margin-left:450px;
}
#container-3{
    width:1407px;
    border-radius:10px;
    color:rgb(132, 132, 138);
    background-color: black;
    font-size: 20px;
    margin-left:77px;
    margin-top:1px;
    padding:10px;
}
.more{
    margin:1px 0px 0px 500px;
    font-family: Montserrat;
    font-weight: 700;
}
#container-3>button{
    width:100px;
    background-color: rgba(87,90,133,1);
    border-radius: 10px;
    padding:10px;
    color:rgba(184, 188, 204, 1);
    margin-left: 600px;
    border:none;
    margin-bottom:10px;  
}
#container-3>button:hover{
    cursor:pointer;
}
#container-3>h1{
    color:rgba(184, 188, 204, 1);
    margin-left:470px;
}
#pac-input{
    background-color: black;
    border:none;
    color:rgba(184, 188, 204, 1);
    padding:10px;
}
.search{
    display:flex;
    align-items: center;
    gap:10px;
    border:1px solid rgba(184, 188, 204, 1);
    padding:20px;
    border-radius: 7px;
}
#list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    
}
#list>ul{
    background-color: rgba(87,90,133,1);
    width:fit-content;
    padding:20px 100px 20px 20px;
    list-style: none;

}